# CLion
.idea/
*.iml

# CMake
cmake-build-*/
build*/
CMakeFiles/
CMakeCache.txt
cmake_install.cmake
Makefile

# Compiled files
*.obj
*.so
*.dll
*.o
*.out
*.exe

# Others
*.log
*.tmp
*.bak
.DS_Store
*.swp
